<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MERCADO LIEBRE</title>
    <script
      src="https://kit.fontawesome.com/78a0423393.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/styles.css">
  </head>

  <body class="home">
    <div class="imagen">
      <a href=""><img src="/img/logo-mercado-liebre.svg" alt="" ></a>
    </div>

    <div class="container">
      <input type="text" placeholder="Buscar productos, marcas" >
      <button><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>
    <header class="header">
      <p>
        <i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin
        tarjeta de crédito
      </p>
      <nav>
        <ul>
          <li><a href="/ofertas">Ofertas</a></li>
          <li><a href="/tiendas-oficiales">Tiendas Oficiales</a></li>
          <li><a href="/vender">Vender</a></li>
          <li><a href="/ayuda">Ayuda</a></li>
        </ul>
      </nav>
      <nav>
        <ul>
          <li>
            <a href="crear-cuenta"
              >Crea tu cuenta <i class="fa-regular fa-id-card"></i
            ></a>
          </li>
          <li>
            <a href="ingresar"
              >Ingresa <i class="fa-solid fa-arrow-right-to-bracket"></i
            ></a>
          </li>
          <li>
            <a href="mis-compras"
              >Mis compras <i class="fa-solid fa-basket-shopping"></i
            ></a>
          </li>
        </ul>

        <div class="burger-menu">
          <button><i class="fas fa-bars"></i></button>
        </div>
      </nav>
      </header>

  
   
       
    
<main class="main">
  <div><img src="/img/img-home-banner.jpg" alt=""></div>
      <section class="main__section">
        <h2>Basado en tu última visita</h2>
        <img src="/img/img-cafetera-moulinex.jpg" alt="">
        <p>$6.770</p>
        <p class="verde">40% OFF</p>
        <h3>Cafetera Moulinex</h3>
        <img src="/img/img-macbook-pro-2019.jpg" alt="">
        <p>$230.000</p>
        <p class="verde">20% off></p>
        <h3>MacBook Pro 2019</h3>
        <img src="/img/img-samsung-galaxy-s10.jpg" alt="">
        <p>$70.500</p>
        <p class="verde">10% off</p>
        <h3>Samsung Galaxy S10</h3>
        <img src="/img/img-tv-samsung-smart.jpg" alt="">
        <p>$23.200</p>
        <p class="verde">5% off</p>
        <h3>SmartTv Samsung 43"</h3>
      </section>

      <section class="main__section">
        <h2 class="ofertas">Ofertas</h2>
        <img src="/img/img-cafetera-moulinex.jpg" alt="" >
        <p>$6.770</p>
        <p class="verde">40% OFF</p>
        <h3>Cafetera Moulinex</h3>
        <img src="/img/img-macbook-pro-2019.jpg" alt="" >
        <p>$230.000</p>
        <p class="verde">20% off</p>
        <h3>MacBook Pro 2019</h3>
        <img src="/img/img-samsung-galaxy-s10.jpg" alt="" >
        <p>$70.500</p>
        <p class="verde">10% off</p>
        <h3>Samsung Galaxy S10</h3>
        <img src="/img/img-tv-samsung-smart.jpg" alt="" >
        <p>$23.200</p>
        <p class="verde">5% off</p>
        <h3>SmartTv Samsung 43"</h3>
      </section>
    </main>
    <footer class="footer">
      <section class="footer_section"> 
         <i class="fa-solid fa-credit-card"></i>
        <h4>Pagá con tarjeta o en efectivo</h4>
        <p>
          Con Mercado Liebre Cash, tenés cuotas sin<br>interés con tarjeta o
          efectivo en puntos de<br>pago. ¡Y siempre es seguro!
        </p>
      </section>
      <section class="footer_section">
        <i class="fa-solid fa-gift"></i>
        <h4>Envío gratis desde $ 2.500</h4>
        <p>
          Solo por estar registrad@ en Mercado Liebre<br>tenés envíos gratis en
          miles de productos. Es<br>un beneficio de Mercado Puntos.
        </p>
      </section>
      <section class="footer_section">
        <i class="fa-solid fa-user-shield"></i>
        <h4>Seguridad, de principio a fin</h4>
        <p>
          ¿No te gusta? ¡Devolvelo! En Mercado Liebre,<br>no hay nada que no puedas
          hacer, porque<br>estás siempre protegid@.
        </p>
       
      </section>
       <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
  </body>
</html>
