<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MERCADO LIEBRE</title>
    <script
      src="https://kit.fontawesome.com/78a0423393.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/styles.css">
  </head>

  <body class="home">
    
    <header>
      <section class="section__input">
      <img class="imagen" src="/img/logo-mercado-liebre.svg" alt="" >
      

     <div class="busqueda">
    <input c type="text" placeholder="Buscar productos, marcas" >
      <button class="button__lupa"><i class="fa-solid fa-magnifying-glass"></i></button>
   </div> 


 <p>
        <i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin
        tarjeta de crédito
      </p>

    </section>
 
   
      <nav class="nav__header">
        <ul class="vender">
          <li><a href="/ofertas">Ofertas</a></li>
          <li><a href="/tiendas-oficiales">Tiendas Oficiales</a></li>
          <li><a href="/vender">Vender</a></li>
          <li><a href="/ayuda">Ayuda</a></li>
        </ul>
   
      
        <ul class="cuenta">
          <li>
            <a href="/register">Crea tu cuenta </a><i class="fa-regular fa-id-card"></i>
          </li>
          <li>
            <a href="/login">Ingresa <i class="fa-solid fa-arrow-right-to-bracket"></i></a>
          </li>
          <li>
            <a href="mis-compras"
              >Mis compras <i class="fa-solid fa-basket-shopping"></i
            ></a>
          </li>
        </ul>
      </nav>
      
      
      <div class="burger-menu">
          <button><i class="fas fa-bars"></i></button>
        </div>
      </header>

  
   
       
    <section>
<div id="banner"><img src="/img/img-home-banner.jpg" alt=""></div>
   </section>
    <main class="home__main">
      
<h2>Basado en tu última visita</h2>

      <section class="home__main__section--visita">
      <article class="home__main__section__article">
        <img src="/img/img-cafetera-moulinex.jpg" alt="">
        <div class="home__main__section__article--div">
        
          <i class="fa-regular fa-circle"></i>
          <i class="fa-solid fa-truck"></i>
        <p class="negro">$6.770</p>
        <p class="verde">40% off</p>
        
      </div>
    <h3>Cafetera Moulinex</h3>
      </article>
        <article class="home__main__section__article">
        <img src="/img/img-macbook-pro-2019.jpg" alt="">
        <div class="home__main__section__article--div">
          <i class="fa-regular fa-circle"></i>
        <i class="fa-solid fa-truck"></i>
        <p class="negro">$230.000</p>
        <p class="verde">20% off</p>
        
        </div>
        <h3>MacBook Pro 2019</h3>
      </article>
      <article class="home__main__section__article">
        <img src="/img/img-samsung-galaxy-s10.jpg" alt="">
        <div class="home__main__section__article--div">
          <i class="fa-regular fa-circle"></i>
        <i class="fa-solid fa-truck"></i>
        <p class="negro">$70.500</p>
        <p class="verde">10% off</p>
      </div>
       <h3>Samsung Galaxy S10</h3>
      </article>
      <article class="home__main__section__article">
        <img src="/img/img-tv-samsung-smart.jpg" alt="">
        <div class="home__main__section__article--div">
          <i class="fa-regular fa-circle"></i>
        <i class="fa-solid fa-truck"></i>
        <p class="negro">$23.200</p>
        <p class="verde">5% off</p>
      </div>
       <h3>SmartTv Samsung 43"</h3>
      </article>
      </section>

    <h2>Ofertas</h2>


    <section class="home__main__section--ofertas">
      <article class="home__main__section__article">
       <img src="/img/img-cafetera-moulinex.jpg" alt="" > 
       <div class="home__main__section__article--div">
        <i class="fa-regular fa-circle"></i>
        <i class="fa-solid fa-truck"></i>
        <p class="negro">$6.770</p>
        <p class="verde">40% off</p>
      </div>
      <h3>Cafetera Moulinex</h3>
      </article>
        <article class="home__main__section__article">
        <img src="/img/img-macbook-pro-2019.jpg" alt="" >
        <div class="home__main__section__article--div">
          <i class="fa-regular fa-circle"></i>
        <i class="fa-solid fa-truck"></i>
        <p class="negro">$230.000</p>
        <p class="verde">20% off</p>
      </div>
      <h3>MacBook Pro 2019</h3>
      </article>
      <article class="home__main__section__article">
        <img src="/img/img-samsung-galaxy-s10.jpg" alt="" >
        <div class="home__main__section__article--div">
          <i class="fa-regular fa-circle"></i>
        <i class="fa-solid fa-truck"></i>
        <p class="negro">$70.500</p>
        <p class="verde">10% off</p>
      </div>
      <h3>Samsung Galaxy S10</h3>
      </article>
      <article class="home__main__section__article">
        <img src="/img/img-tv-samsung-smart.jpg" alt="" >
        <div class="home__main__section__article--div">
          <i class="fa-regular fa-circle"></i>  
        <i class="fa-solid fa-truck"></i>
        <p class="negro">$23.200</p>
        <p class="verde">5% off</p>
      </div>
      <h3>SmartTv Samsung 43"</h3>
      </article>
      </section>
    </main>
    <footer>
      <section class="footer_section"> 
         <i class="fa-solid fa-credit-card"></i>
        <h4>Pagá con tarjeta o en efectivo</h4>
        <p>
          Con Mercado Liebre Cash, tenés cuotas sin<br>interés con tarjeta o
          efectivo en puntos de<br>pago. ¡Y siempre es seguro!
        </p>
      </section>
      <section class="footer_section">
        <i class="fa-solid fa-gift"></i>
        <h4>Envío gratis desde $ 2.500</h4>
        <p>
          Solo por estar registrad@ en Mercado Liebre<br>tenés envíos gratis en
          miles de productos. Es<br>un beneficio de Mercado Puntos.
        </p>
      </section>
      <section class="footer_section">
        <i class="fa-solid fa-user-shield"></i>
        <h4>Seguridad, de principio a fin</h4>
        <p>
          ¿No te gusta? ¡Devolvelo! En Mercado Liebre,<br>no hay nada que no puedas
          hacer, porque<br>estás siempre protegid@.
        </p>
       
      </section>
       <p class="p_footer">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
  </body>
</html>
