.button{
    border: none;
      padding:12px 10px;
      border-radius: 5px;

}


.button:hover{
  
  background-color: #0022AA;
}


.button__enviar{
    background-color: #1259c3;
    color: white;
   margin: auto; 
    width: 100%;
    margin-bottom: 20px;
    
   
}



.button__volver {
    display: flex;
    justify-content: flex-end;
  width: 100%;

  margin-top: 30px;
}

.volver{
background-color: #1259c3;
color: white;
  padding:7px 8px;
    border-radius: 5px;
font-size: 0.9rem;

}


.volver:hover{
  
  background-color: #0022AA;
  
  }