*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol {
    padding: 0;
}

li {
    list-style: none;
}

a{
    text-decoration: none;
   
}


 body{
background-color:#ebebeb; 
font-family:'roboto';
margin: auto;

}

body h2{
    margin-top: 25px;
    margin-bottom:15px ;
    color: #666;
    font-size: 1.3rem;
}


/*register*/

.main__register--section{
    
    width: 90%;
    margin: 50px auto;
  padding: 20px;
    
   
    border-radius: 5px;
}


@media (min-width:768px){
  
    .main__register--section{
        width: 40%;
       
    }
    }



/*login*/

.iniciar__sesion{
    width: 90%;
    margin: 50px auto;
   
   
    padding: 20px ;
    border-radius: 5px;
}


.login__email{
    margin-bottom: 20px;
}


.login__contraseña{
    margin-bottom: 60px;
}

@media (min-width:768px){
  
.iniciar__sesion{
    width: 50%;
   
}
}