header{
    width: 100%;
    background-color: #EAC926;
    padding: 20px;
    align-items: center;
      
}
.burger-menu button{
    display: flex;
    color: white;
    padding: 10px;
    background-color: #1259c3;
    border:0;
    margin: auto;
    border-radius: 5px 5px 5px 5px;
   cursor: pointer;
   margin-top: 25px;
   font-size: 20px;
}


header a {
 color: black ;
 
}






header nav{
display: none;
}




  header section{
    display: flex;
    flex-direction: row;
    
    flex-wrap: wrap;
    padding-bottom: 5px ;
    margin: auto;
  }

.busqueda input{
  padding: 8px;
  border-radius: 5px 0 0 5px;
  border:0;
  outline: none;
 
  width: 89%;
  font-size: 0.7rem;
}

  .busqueda {
width: 50%;
position: relative;




    }
 
    .button__lupa{
      background-color: #ffffff;
      padding: 7px 3px;
      position: absolute;
      border: 0;
      top: 0;
      margin: auto;
      border-radius: 0 5px 5px 0;
      

    }


    .button__lupa i{
      font-size: 0.7rem;
    }
  .imagen{
    width: 50%;
  }
    
header p{
  font-size: 0.8rem;
  padding-top: 15px;
margin: auto;
  

 

}






@media (min-width:361px){
 
   header p {
   font-size: 0.8rem;
    display: flex;
   
    margin:0;
   
    
    
   }

   .burger-menu button{
    display: none;
   }

   header nav{
  display: flex;
  justify-content: space-between;
 
} 

  
   
.busqueda {
  width: 20%;
 
}


header nav ul{
  display: flex;
  flex-direction:row ;
  gap: 20px;
  
}
.nav__vender ul{
flex-direction: row;
display: flex;

}

.imagen{
  width: 25%;
}

header nav ul li{
  font-size: 0.9rem;
}
.section__input{
  gap: 20px;
 
  
  padding-bottom: 50px;
}

.section__input{

  justify-content: space-between;

}

}
@media(min-width:769px){
    header nav {
        display: flex;
        
        
       } 
     
    
       .burger-menu button{
        display: none;
       }
       header nav ul li{
        font-size: 1rem;
      }
      header p {
        font-size: 1rem;
         display: flex;
        
        
        }
        .imagen{
          width: 20%;
      }
      }