
.burger-menu button{
    display: flex;
    color: white;
    padding: 10px;
    background-color: #1259c3;
    border:0;
    margin: auto;
    border-radius: 5px 5px 5px 5px;
   cursor: pointer;
   margin-bottom: 18px ;
}


.header a {
    color: black;
}


   
   
    
}

.main__section h2 {
    margin-bottom: 20px;
    margin-top: 20px;
}


.header{
    margin: 5px;
}

#banner{
    width: 100%;
}

.main div img{
    width: 100%;
}