
.burger-menu button{
    display: flex;
    color: white;
    padding: 10px;
    background-color: #1259c3;
    border:0;
    margin: auto;
    border-radius: 5px 5px 5px 5px;
   cursor: pointer;
   margin-top: 25px;
   font-size: 20px;
}


header a {
 color: black ;
 
}

header p {
text-align: center;
margin-top: 10px;
}


header{
    width: 100%;
    background-color: #EAC926;
    padding: 20px;
      
}

.imagen{
   
    width: 40%;
    
}
header nav{
display: none;
}

@media (min-width:361px){
   header nav {
    display: flex;
    
    
   } 
   header p {
    margin-bottom: 4%;
   }

   .burger-menu button{
    display: none;
   }

}

@media(min-width:769px){
    header nav {
        display: flex;
        
        
       } 
       header p {
        margin-bottom: 4%;
       }
    
       .burger-menu button{
        display: none;
       }
    
}