


.home__main img{
    width: 100%;
    padding: 5px;
    
    }
    
    .home h3{
        display: none;
        
            
            font-size: 16px;
            font-weight:normal;
            font-weight: lighter;
            color: gray
            
     
        
        
    }
    
    section div img{
        display: none;
    }
    
    /* main*/
    
    .home__main{
    width: 90%;
    margin: auto;
    
    
    }
    
    
    .verde{
        color: #39b54a;
        font-size: 15px;
        font-weight: lighter;
        margin-bottom: 20px;
        margin-top: 2px;
        
    }
    
    .negro{
        font-size: 18px;
        font-weight:normal;
        font-weight: lighter;
        
        
    }
    
    
    
    
    .home__main__section__article{
        margin-bottom: 10px;
        background-color: #ffffff;
        
       
    }
    .home__main__section--visita{
        margin-bottom: 80px;
       
    }
    
    .home__main__section--ofertas{
        margin-bottom: 40px;
        
    }
    
    .home__main__section__article div{
        border-top: 1px solid #ebebeb; 
        padding: 15px;
    }
    
    .home__main__section__article i{
        color: #39b54a;
        
        
    }
   
        

    
    main section article div i{
        display: block;
        font-size: 16px;
        padding: 5px;
        width: 30px;
        height: 30px;
        border: 1px solid #39b54a;
        background-color: #FFF;
        border-radius: 50%;
        position: absolute;
        right: 20px;
        top: -15px;
        }
        .home__main__section__article--div{
            position: relative;
            display: flex;
            gap: 10px;
        }


        .home__main__section__article div p{
            flex-direction: row;
           
            
        }
        .home__main__section__article h3{
         padding: 0px 0px 20px 15px ; 
        }
       
    
    /*footer*/
    
   footer{
        background-color: #ffffff ;
        
       
    }
 
     .footer_section i{
        color: #1259c3;
        margin-bottom: 10px ;
        margin-top: 30px;
        font-size: 2em;
     
         }
    
    .footer_section h4{
        font-size: 16px;
    }
    
    
    
    .footer_section p{
        font-size: 12px;
      
        
    }
    
   
 .footer_section{
    text-align: center;
 }

 footer p{
    font-size: 12px;
    
 }
 .p_footer{
    margin-top: 20px;
 }

    
    /*tablet*/
    @media(min-width:361px){
      
        .home h3:hover{
            display: block;
            font-size: 16px;
            font-weight:normal;
            font-weight: lighter;
            color: gray;
            transition: all 5s;
        }
        .home__main__section__article{
            box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    section div img{
        display: block;
        width: 100%;
    }

    .home__main__section--visita{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 20px;
       
    }

    .home__main__section__article{
        width: 46%; 
    }
   

    .home__main__section--ofertas{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 20px;
       
    }

    .section__input{
        align-items: center;
       
    }

    .home__main__section__article:hover h3 {
        display: block;
        transition:all 3s;

    }
    }
        @media(min-width:769px ){
    
           
            .home__main__section__article{
                box-shadow: 0px 0px 10px rgb(100, 100, 100);
        }

       

        .home__main__section__article{
            width: 22%; 
        }
       

      
    
    }